@page "/example1"

<h3>Example1</h3>
<input type="number" @bind="number">
<br>

Display Number
<ErrorBoundary>
    <ChildContent>
        <DisplayNumber Number="number" />
    </ChildContent>
    <ErrorContent>
        <div>An error has occured</div>
    </ErrorContent>
</ErrorBoundary>


@code {
    int number = 1;
}
