@page "/"

<PageTitle>Index</PageTitle>

<h1>Cian Liddy's portfolio website</h1>

This is a website displaying my coding knowledge.
<br />
<br />
I might add a summary of what I have learned here so that the reader can search. Links can be embedded. 
<br />
<br />
The source code for this project can be found here: <a href="https://github.com/DeeplySheeply/CvApp" target="_blank">https://github.com/DeeplySheeply/CvApp</a>


